.content_general {
  padding: 0px 0px 100px 0px;
}
.carrito * {
  color: rgb(255, 255, 255);
}
/* + titulo */
.container_titulo {
  width: 100%;
  margin: auto;
  padding: 100px 0px 50px 0px;
}
.container_titulo h1 {
  color: white;
  text-align: center;
}
/* - titulo */