* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Tangiang;
  font-size: 20px;
  word-wrap: break-word;
}
.my_btn{
  margin: auto;
  margin-top: 1rem;
  padding: 5px 20px;
  border-radius: 2px;
  width: auto;
  color: black;
}
@font-face {
  font-family: "Tangiang";
  src: url(../font/Tangiang.otf);
}
@font-face {
  font-family: "socialmedia";
  src: url(../font/socialmedia.ttf);
}
body::-webkit-scrollbar {
  background-color: #005577;
  max-width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(125, 125, 125);
  border-radius: 12px;
  width: 100%;
}
.container_page {
  background: black;
  background: linear-gradient(135deg, black, #0077a7);
  max-width: 100vw;
  min-height: 100vh;
}
.content_page {
  min-height: 100vh;
  max-width: 1900px;
  min-width: auto;
  margin: auto;
}
/*==================*/
/* patalla cargando */
/*==================*/
.loader-page {
  position: fixed;
  z-index: 25000;
  background: black;
  background: linear-gradient(135deg, black, #016c97);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 2.5px solid rgb(50, 150, 176);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}
@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 5px solid rgba(50, 150, 176, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}
