.container_dashboard {
  width: 100%;
}

.titulo_dashboard {
  text-align: center;
  font-family: Dunkin;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  word-wrap: break-word;
  color: white;
}

.card_principal {
  width: 100%;
}

.fondo_dashboard {
  width: 100%;
  height: 10rem;
  opacity: 0.9;
  object-fit: none;
  margin-bottom: 5rem;
}

.text_dashboard {
  font-family: Dunkin;
  text-align: center;
  max-width: 66rem;
  margin: auto;
  padding: 8rem 0rem 8rem 0rem;
  color: white;
  word-wrap: break-word;
}
.text_dashboard h2 {
  padding: 0rem 0rem 4rem 0rem;
}
.text_dashboard a {
  padding: 2rem 0rem 2rem 0rem;
}
.text_dashboard h3 {
  padding: 2rem 0rem 0rem 0rem;
}

/* inicio del carrucel */
.container_carrucel {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 485px;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5);
  overflow: hidden;
}
.container_carrucel:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0px 0px 50px 5px rgba(244, 238, 255, 0.5);
}
.info_dashboard {
  display: none;
}
.container_carrucel:hover + .info_dashboard {
  font-family: Dunkin;
  color: white;
  margin: auto;
  width: auto;
  text-align: center;
  margin: 50px 0px 0px 0px;
  display: none;
  font-size: 1.3rem;
  animation: showinfo 0.4s linear;
  display: block;
}
@keyframes showinfo {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/**/
.carrucel {
  animation: autoSlider 30s infinite linear;
  transition: all 0.75s ease;
  width: 12000px;
}

.slider_element {
  float: left;
  max-width: 1200px;
  min-height: 100%;
}
.blur_1,
.blur_2,
.blur_3,
.blur_4,
.blur_5,
.blur_6,
.blur_7,
.blur_8,
.blur_9,
.blur_10 {
  width: 100%;
  height: 100%;
  margin: auto;
}

.blur_1 p,
.blur_2 p,
.blur_3 p,
.blur_4 p,
.blur_5 p,
.blur_6 p,
.blur_7 p,
.blur_8 p,
.blur_9 p,
.blur_10 p {
  position: relative;
  top: 50%;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  word-wrap: break-word;
}

.blur_1 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(211, 212, 255, 0.3);
}
.blur_3 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(211, 212, 255, 0.3);
}
.blur_5 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(211, 212, 255, 0.3);
}
.blur_7 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(211, 212, 255, 0.3);
}
.blur_9 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(211, 212, 255, 0.3);
}

.element-1,
.element-2,
.element-3,
.element-4,
.element-5,
.element-6,
.element-7,
.element-8,
.element-9,
.element-10 {
  height: 488px;
  width: 1200px;
  font-family: Dunkin;
  object-fit: none;
  background-size: cover;
  font-size: 2rem;
  text-align: center;
}

.element-1 {
  background: url(../../resource/img/carrucel/carrucel_1.jpg) no-repeat center top;
}
.element-2 {
  background: url(../../resource/img/carrucel/carrucel_2.jpg) no-repeat center top;
}
.element-3 {
  background: url(../../resource/img/carrucel/carrucel_3.jpg) no-repeat center top;
}
.element-4 {
  background: url(../../resource/img/carrucel/carrucel_4.jpg) no-repeat center top;
}
.element-5 {
  background: url(../../resource/img/carrucel/carrucel_5.jpg) no-repeat center top;
}
.element-6 {
  background: url(../../resource/img/carrucel/carrucel_6.jpg) no-repeat center top;
}
.element-7 {
  background: url(../../resource/img/carrucel/carrucel_7.jpg) no-repeat center top;
}
.element-8 {
  background: url(../../resource/img/carrucel/carrucel_8.png) no-repeat center top;
}
.element-9 {
  background: url(../../resource/img/carrucel/carrucel_9.jpg) no-repeat center top;
}
.element-10 {
  background: url(../../resource/img/carrucel/carrucel_10.jpg) no-repeat center top;
}

@keyframes autoSlider {
  0% {
    margin-left: 0;
  }

  5% {
    margin-left: 0;
  }

  10% {
    margin-left: -100%;
  }

  15% {
    margin-left: -100%;
  }

  20% {
    margin-left: -200%;
  }

  25% {
    margin-left: -200%;
  }

  30% {
    margin-left: -300%;
  }
  35% {
    margin-left: -300%;
  }
  40% {
    margin-left: -400%;
  }
  45% {
    margin-left: -400%;
  }
  50% {
    margin-left: -500%;
  }
  55% {
    margin-left: -500%;
  }
  60% {
    margin-left: -600%;
  }
  65% {
    margin-left: -600%;
  }
  70% {
    margin-left: -700%;
  }
  75% {
    margin-left: -700%;
  }
  80% {
    margin-left: -800%;
  }
  85% {
    margin-left: -800%;
  }
  90% {
    margin-left: -900%;
  }
  95% {
    margin-left: -900%;
  }
  100% {
    margin-left: 0;
  }
}
