.carousel,
.carousel-inner {
  max-height: 60vh;
}
.titulo {
  color: white;
  text-align: center;
  padding: 100px 0px 50px 0px;
}
.container_informacion {
  padding: 100px 0px 100px 0px;
  max-width: 1200px;
  margin: auto;
}
.container_informacion h1 {
  text-align: center;
  background-color: teal;
  width: 100%;
  color: white;
  padding: 20px 40px 20px 40px;
}
.mision,
.vision {
  background-color: white;
  padding: 20px 40px 20px 40px;
}
